<template>
  <div class="ar">
    <div class="loading__svg-container">
      <img :class="['loading__svg', camera ? 'loading__svg--loaded' : '']" src="@/assets/green_world.svg" alt="world"/>
    </div>
    <div :class="camera ? 'camera-loaded-box' : ''" class="view__camera__prediction-container">
      <div class="view__camera__prediction-results view__camera__prediction-results--js">
        <b>{{detectedItem}}</b>
      </div>
    </div>
    <div :class="camera ? 'camera-loaded-view' : ''" class="view__camera view__camera--js">
      <div @touchstart="predictStuff" @click="predictStuff"
           class="camera__capture-wrapper camera__capture-wrapper--js">
        <div class="camera__capture-flash camera__capture-flash--js"></div>
        <video ref="video" class="camera__element camera__element--js" autoplay playsinline></video>
      </div>
    </div>
    <div class="fab__container" :class="camera ? 'camera-loaded-view' : ''">
      <button id="fab" class="fab" @touchstart="predictStuff" @click="predictStuff">
        <svg version="1.1" class="fab__image" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
             xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="551.391px" height="551.391px"
             viewBox="0 0 551.391 551.391" style="enable-background:new 0 0 551.391 551.391;" xml:space="preserve">
        <g>
          <path class="fab__image--leaf" d="M413.695,0c0,0-45.366,44.014-94.43,61.759C-44.068,193.178,109.165,449.277,114.164,450.121 c0,0,20.374-35.48,47.896-55.717c174.644-128.389,210.14-276.171,210.14-276.171s-39.19,177.829-194.562,288.479 c-34.316,24.426-57.552,84.568-67.388,144.679c0,0,24.325-9.828,34.785-12.49c4.079-26.618,12.607-52.106,27.025-74.875 c217.151,25.854,288.272-149.123,297.563-210.136C491.552,109.79,413.695,0,413.695,0z"/>
        </g>
        </svg>
      </button>
    </div>
  </div>
</template>

<script>
import CameraModule from '../modules/CameraModule';
import sendToCloudVision from '../modules/sendToCloudVision';
import co2eRaw from '../assets/co2e.json';
import carbonOffset from '../modules/carbonOffset';
import { log } from 'util';

export default {
  data() {
    const co2Labels = {};
    const secondaryCo2Labels = {};

    for (const item of co2eRaw) {
      for (const name of item.alternativeNames) {
        co2Labels[name] = item;
      }
    }
    for (const item of co2eRaw) {
      if (!item.secondaryNames) {
        continue;
      }
      for (const name of item.secondaryNames) {
        secondaryCo2Labels[name] = item;
      }
    }

    return {
      camera: null,
      interval: null,
      predictions: '',
      img: '',
      co2Labels,
      secondaryCo2Labels,
      detectedItem: 'Tap the button to search.',
      touchDetected: false,
    };
  },
  methods: {
    async predictStuff(event) {
      if (event.type === 'touchstart') {
        this.touchDetected = true;
      }
      const fireEvent = (event.type === 'touchstart' || (event.type === 'click' && !this.touchDetected));

      if (this.camera && fireEvent) {
        this.detectedItem = 'Searching...';
        const img = this.camera.snapshot();
        this.img = img.src;
        const response = await sendToCloudVision(img.src.replace(/^data:image\/(png|jpg|jpeg);base64,/, ''));
        if (!response.responses[0].labelAnnotations) {
          console.log(response);
          this.detectedItem = 'Oops... Something went wrong. Try again 🔁';
        }
        console.log(response.responses[0].labelAnnotations);
        this.predictions = response.responses[0].labelAnnotations.map(annotation => `${annotation.description} (${annotation.score * 100}%)`)
          .join('\n');

        let found = false;
        let offsetGram = 0;
        let firstAnnotation;
        for (const annotation of response.responses[0].labelAnnotations) {
          firstAnnotation = annotation;
          const co2Label = this.co2Labels[annotation.description.toLowerCase()];
          if (co2Label) {
            this.detectedItem = `${co2Label.title}: ${co2Label.co2eMessage}`;
            console.log(this.detectedItem);
            offsetGram = co2Label.gramsOfCo2;
            found = true;
            break;
          }
        }
        if (!found) {
          for (const annotation of response.responses[0].labelAnnotations) {
            firstAnnotation = annotation;
            const co2Label = this.secondaryCo2Labels[annotation.description.toLowerCase()];
            if (co2Label) {
              this.detectedItem = `${co2Label.title}: ${co2Label.co2eMessage}`;
              console.log(this.detectedItem);
              offsetGram = co2Label.gramsOfCo2;
              found = true;
              break;
            }
          }
        }
        if (!found) {
          this.detectedItem = `${firstAnnotation.description}: No CO2 data found.`;
        } else if (!this.detectedItem.includes('The floor is lava')) {
          const totalCost = Math.round((await carbonOffset(offsetGram)) * 100) / 100;
          this.detectedItem += `\n\n Total cost to compensate the CO2: ${totalCost} USD`;
        }
      }
    },
  },
  async mounted() {
    const camera = new CameraModule(this.$refs.video);
    await camera.setupCamera();
    this.camera = camera;
  },
  destroyed() {
    clearInterval(this.interval);
  },
};
</script>
<style lang="scss" scoped>
  .ar {
    min-height: 100vh;
    position: relative;
  }

  .view__camera {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
    transition: opacity 1.2s;
    transition-delay: 0.2s;
  }

  $c-camera-capture-flash: rgb(0, 253, 36);
  $c-camera-capture-bg: rgba(0, 253, 36, .4);

  @keyframes flash-animation {
    from {
      opacity: 0
    }
    to {
      opacity: 1;
    }
  }

  @keyframes zoomImageLoop {
    0% {
      transform: scale(0.3);
    }
    50% {
      transform: scale(0.45);
    }
    100% {
      transform: scale(0.3);
    }
  }

  .view__camera__prediction-container {
    position: absolute;
    z-index: 100;
    background-color: #1E1E1E;
    width: calc(100% - 2rem);
    padding: 1rem;
    top: 1rem;
    left: 1rem;
    border-radius: 5px;
    white-space: pre-line;
    opacity: 0;
    transition: opacity 1.2s;
    transition-delay: 0.2s;

    &--bot {
      top: auto;
      bottom: 1rem;
    }
  }

  .camera__capture-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    transition: border-width .1s ease-in-out;
    z-index: 2;

    &.capture {
      border: black solid;
      border-width: 90px 30px 30px 30px;
    }

    .camera__capture-flash {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 2;

      &.flash {
        background: $c-camera-capture-flash;
        animation-name: flash-animation;
        animation-duration: .1s;

        &.freeze {
          mix-blend-mode: multiply;
        }
      }
    }
  }

  .loading__svg-container {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 3rem;
    transform: translateX(-50%) translateY(-50%);
  }

  .loading__svg {
    width: 100%;
    height: auto;
    animation: 4s ease-in-out 0s infinite zoomImageLoop;
  }

  .view__camera__prediction-results {
    color: white;
  }

  .camera__element {
    height: auto;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    overflow: hidden;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: auto;
    z-index: 1;

    &.camera-front-facing {
      transform: translateX(-50%) translateY(-50%) scale(-1, 1);
    }
  }

  .fab__container {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    opacity: 0;
    transition: opacity 1.2s;
    transition-delay: 0.2s;
  }

  .fab__image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 50%;
    &--leaf{
      fill: #FFFFFF;
    }
  }

  .fab {
    opacity: 0.8;
    background-color: #1E1E1E;
    box-shadow: 0px 5px 11px -2px rgba(0, 0, 0, 0.18),
    0px 4px 12px -7px rgba(0, 0, 0, 0.15);
    border-radius: 50%;
    display: block;
    width: 64px;
    height: 64px;
    margin: 20px auto 0;
    position: relative;
    -webkit-transition: all .1s ease-out;
    transition: all .2s ease-out;
    border: none;
    outline: none;
  }

  .fab:active,
  .fab:hover,
  .fab.isActive {
    opacity: 0.6;
    box-shadow: 0 0 4px rgba(0, 0, 0, .14),
    0 4px 8px rgba(0, 0, 0, .28);
  }

  .camera-loaded-view {
    opacity: 1;
  }

  .camera-loaded-box {
    opacity: 0.8;
  }
</style>
