<template>
  <div class="ar">
    <span v-if="!camera">Loading...</span>
    <div class="view__camera__prediction-container">
      <div class="view__camera__prediction-results view__camera__prediction-results--js">{{detectedItem}}</div>
    </div>
    <div class="view__camera view__camera--js">
      <div @touchstart="predictStuff" @click="predictStuff" class="camera__capture-wrapper camera__capture-wrapper--js">
        <div class="camera__capture-flash camera__capture-flash--js"></div>
        <video ref="video" class="camera__element camera__element--js" autoplay playsinline></video>
      </div>
    </div>
    <div class="view__camera__prediction-container view__camera__prediction-container--bot">
      <div class="view__camera__prediction-results view__camera__prediction-results--js">
        {{predictions}}
      </div>
    </div>
  </div>
</template>

<script>
import CameraModule from '../modules/CameraModule';
import sendToCloudVision from '../modules/sendToCloudVision';
import co2eRaw from '../assets/co2e.json';

export default {
  data() {
    const co2Labels = {};
    const secondaryCo2Labels = {};

    for (const item of co2eRaw) {
      for (const name of item.alternativeNames) {
        co2Labels[name] = item;
      }
    }
    for (const item of co2eRaw) {
      if (!item.secondaryNames) {
        continue;
      }
      for (const name of item.secondaryNames) {
        secondaryCo2Labels[name] = item;
      }
    }

    return {
      camera: null,
      interval: null,
      predictions: '',
      img: '',
      co2Labels,
      secondaryCo2Labels,
      detectedItem: 'Tap the button to search',
      touchDetected: false,
    };
  },
  methods: {
    async predictStuff(event) {
      if (event.type === 'touchstart') {
        this.touchDetected = true;
      }
      const fireEvent = (event.type === 'touchstart' || (event.type === 'click' && !this.touchDetected));

      if (this.camera && fireEvent) {
        this.detectedItem = 'Searching...';
        const img = this.camera.snapshot();
        this.img = img.src;
        const response = await sendToCloudVision(img.src.replace(/^data:image\/(png|jpg|jpeg);base64,/, ''));
        console.log(response.responses[0].labelAnnotations);
        this.predictions = response.responses[0].labelAnnotations.map(annotation => `${annotation.description} (${annotation.score * 100}%)`)
          .join('\n');

        let found = false;
        for (const annotation of response.responses[0].labelAnnotations) {
          const co2Label = this.co2Labels[annotation.description.toLowerCase()];
          if (co2Label) {
            this.detectedItem = `${co2Label.title}: ${co2Label.co2eMessage}`;
            console.log(this.detectedItem);
            found = true;
            break;
          }
        }
        if (!found) {
          for (const annotation of response.responses[0].labelAnnotations) {
            const co2Label = this.secondaryCo2Labels[annotation.description.toLowerCase()];
            if (co2Label) {
              this.detectedItem = `${co2Label.title}: ${co2Label.co2eMessage}`;
              console.log(this.detectedItem);
              found = true;
              break;
            }
          }
        }
        if (!found) {
          console.log('Nothing found.');
          this.detectedItem = 'Nothing found.';
        }
      }
    },
  },
  async mounted() {
    const camera = new CameraModule(this.$refs.video);
    await camera.setupCamera();
    this.camera = camera;
  },
  destroyed() {
    clearInterval(this.interval);
  },
};
</script>
<style lang="scss" scoped>
  .ar {
    min-height: 100vh;
    position: relative;
  }

  .view__camera {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
  }

  $c-camera-capture-flash: rgb(0, 253, 36);
  $c-camera-capture-bg: rgba(0, 253, 36, .4);

  @keyframes flash-animation {
    from {
      opacity: 0
    }
    to {
      opacity: 1;
    }
  }

  .camera__capture-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    transition: border-width .1s ease-in-out;
    z-index: 2;

    &.capture {
      border: black solid;
      border-width: 90px 30px 30px 30px;
    }

    .camera__capture-flash {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 2;

      &.flash {
        background: $c-camera-capture-flash;
        animation-name: flash-animation;
        animation-duration: .1s;

        &.freeze {
          mix-blend-mode: multiply;
        }
      }
    }
  }

  .view__camera__prediction-container {
    position: absolute;
    z-index: 100;
    background-color: #1E1E1E;
    opacity: 0.75;
    width: calc(100% - 2rem);
    padding: 1rem;
    top: 1rem;
    left: 1rem;
    border-radius: 5px;
    white-space: pre;

    &--bot {
      top: auto;
      bottom: 1rem;
    }
  }

  .view__camera__prediction-results {
    color: white;
  }

  .camera__element {
    height: auto;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    overflow: hidden;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: auto;
    z-index: 1;

    &.camera-front-facing {
      transform: translateX(-50%) translateY(-50%) scale(-1, 1);
    }
  }
</style>
