<template>
  <div class="google_vision">
  asdf
    <form @submit="onSubmit" id="fileform" action="">
      <select v-model="type">
        <option value="LANDMARK_DETECTION">LANDMARK_DETECTION</option>
        <option value="TYPE_UNSPECIFIED">TYPE_UNSPECIFIED</option>
        <option value="FACE_DETECTION">FACE_DETECTION</option>
        <option value="LOGO_DETECTION">LOGO_DETECTION</option>
        <option value="LABEL_DETECTION">LABEL_DETECTION</option>
        <option value="TEXT_DETECTION">TEXT_DETECTION</option>
        <option value="SAFE_SEARCH_DETECTION">SAFE_SEARCH_DETECTION</option>
        <option value="IMAGE_PROPERTIES">IMAGE_PROPERTIES</option>
      </select><br />
      <input type="file" ref="fileField"><br /><br />
      <input type="submit" name="submit" value="Submit">
    </form>

  <code style="white-space:pre" id="results">{{responseText}}</code>

  </div>
</template>

<script>
const apiKey = 'AIzaSyAOre66eAJbbntYVvJ5FwMn-eVFaNcPMZM';
const CV_URL = `https://vision.googleapis.com/v1/images:annotate?key=${apiKey}`;
export default {
  data() {
    return {
      fileField: '',
      type: '',
      responseText: '',
    };
  },
  computed: {
  },
  methods: {
    onSubmit(event) {
      event.preventDefault(); // Prevent the default form post

      // Grab the file and asynchronously convert to base64.
      const file = this.$refs.fileField.files[0];
      const reader = new FileReader();
      reader.onloadend = this.processFile;
      reader.readAsDataURL(file);
    },
    processFile(event) {
      const content = event.target.result;
      this.sendFileToCloudVision(content.replace(/^data:image\/(png|jpg|jpeg);base64,/, ''));
    },
    async sendFileToCloudVision(content) {
      const { type } = this;

      // Strip out the file prefix when you convert to json.
      const request = {
        requests: [{
          image: {
            content,
          },
          features: [{
            type,
            maxResults: 10,
          }],
        }],
      };

      try {
        const response = await fetch(CV_URL, {
          body: JSON.stringify(request),
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
        });
        this.responseText = JSON.stringify(await response.json(), null, 4);
      } catch (error) {
        console.log(error);
      }


      // $.post({
      //   url: CV_URL,
      //   data: JSON.stringify(request),
      //   contentType: 'application/json',
      // }).fail((jqXHR, textStatus, errorThrown) => {
      //   $('#results').text(`ERRORS: ${textStatus} ${errorThrown}`);
      // }).done(displayJSON);
    },
    // displayJSON(data) {
    //   const contents = JSON.stringify(data, null, 4);
    //   $('#results').text(contents);
    //   const evt = new Event('results-displayed');
    //   evt.results = contents;
    //   document.dispatchEvent(evt);
    // },
  },
};
</script>
